  <div>
	  <h1 class="header">Call Activity</h1>
 	  <table>
	   	<thead>
  			<tr class="table_header">
          <th>To</th>
          <th>From</th>
      		<th>Caller Number</th>
      		<th>Time and Date</th>
      		<th>Call Duration</th>
      		<th>Call Status</th>
      		<th>Voicemail</th>
	    	</tr>
	  	</thead>
	  	<tbody>
		    <%= render @calls %>
		</tbody>
	  </table>
  </div>
