/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.container {
    position: relative;
    float:none;
    margin: 10px auto;
    max-width: 600px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)!important;
}
table {
    overflow-x: auto;
    border-spacing: 0;
}

tr:first-child {
    border-bottom: 2px solid black;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

td {
    border: 0;
    padding: 5px;
}

.destroy:hover {
    background-color: #ff4639;
    transition: all 200ms;
}
